.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #383aa1;
    box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.15);

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.logo {
    h1 {
        margin-bottom: 0;
        font-size: 42px;

        &:hover {
            text-shadow: 6px 6px 2px #23243a;
        }

        @media (min-width: 768px) {
            margin: 10px;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 0;
}

.menu__item {
    padding-right: 20px;
}

.menu__link {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 22px;
    height: 100%;
    padding: 22px;


    &:hover {
        background-color: darken(#383aa1, 20%);
        box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.324);
    }
}