.headerWrapper {
  padding: $base-spacing;
  width: 100%;
  max-width: 100%;
  position: fixed;
  min-height: 80px;
  top: 0;
  z-index: 3;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  background-color: $theme-light-primary;

  @media (min-width: $lap-start) {
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
  }
}

.darkmode--activated .header {
  background-color: $color-dark-grey !important;
}

.logoText {
  color: #fff;
  font-family: $serif;
  letter-spacing: -0.5px;
  padding: $half-spacing/2 $base-spacing;
  margin: 0;

  &:after {
    display: block;
    content: "";
    border-bottom: 3px solid #ff8c00;
  }
}

.logo {
  position: relative;
  margin: 0;

  a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: $color-white;

    @include media-query(min, $lap-start) {
      flex-direction: row;
    }
  }

  span {
    @include font-size($small-font-size);
    text-transform: uppercase;
    font-weight: bold;
    color: $color-failure;
  }

  h1 {
    margin-bottom: 0;
    @include font-size(42px);

    &:hover {
      text-shadow: 6px 6px 2px $color-secondary-dark;
    }
  }

  img {
    max-width: 200px;
    margin-top: 0;
  }
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 0;
  padding-left: 0;
}

.menu__item {
  text-transform: lowercase;

  @media only screen and (min-width: $lap-start) {
    padding-right: $base-spacing;
  }
}

.menu__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 $base-spacing;
  color: $color-white;
  height: 80px;
  @include font-size(18px);

  @media screen and (min-width: $lap-start) {
    @include font-size(22px);
  }

  &:hover {
    background-color: $color-highlight;
    box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.324);
  }
}
