.modal {
  position: relative;
  z-index: 1;

  @include media-query(min, $lap-start) {
    position: absolute;
    top:-48vh;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    width: 95%;
  }

  @include media-query(min, $desk-start) {
    max-width: $desk-start;
  }
}

.dialog {
  padding: $base-spacing;
  background: $color-primary;
  border: 1px solid transparent;
  border-radius: $half-spacing/2;

  @include media-query(max, $lap-start) {
    position: relative;
    top: -72.5vh;
    min-height: 55vh;
  }
}

.dialogClose {
  position: absolute;
  top: 0;
  right: 0;
  padding: $half-spacing;
  background: $color-base;
  border: 1px solid rgba(47, 144, 189, 0.411);
  color: rgba(47, 144, 189, 1);
  border-radius: 50px;
  padding: $half-spacing 12.5px;

  &:hover {
    cursor: pointer;
  }
}
