.modal {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  width: 95%;

  @include media-query(min, $desk-start) {
    width: 70%;
    max-width: $desk-start;
  }
}

.dialog {
  border: 4px dashed rgba(47, 144, 189, 0.411);
  border-radius: $half-spacing;
  padding: $base-spacing;
  background: $color-base;
}

.dialogClose {
  position: absolute;
  top: 0;
  right: 0;
  padding: $half-spacing;
  background: $color-base;
  border: 1px solid rgba(47, 144, 189, 0.411);
  color: rgba(47, 144, 189, 1);
  border-radius: 50px;
  padding: $half-spacing 12.5px;

  &:hover {
    cursor: pointer;
  }
}
