.darkmode-layer {
	background: $color-dark-grey !important;
	mix-blend-mode: normal !important; //overriding DarkMode.js
	z-index: 0;
}

.darkmode-toggle,
.darkmode-layer--button {
	top: $base-spacing*2;
}

.darkmode-toggle {
	z-index: 4;
}