.food-type-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    padding: 0;

     @media (min-width: 770px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.food-type-item {
    padding: 40px 5px;
    border: 1px dashed rgba(47, 144, 189, 0.411);

    &:hover {
        background-color: rgba(47, 144, 189, 0.411);
        border: 1px dashed #fff;
        cursor: pointer;
    }
}

.Eatery {
    padding-bottom: 20px;
}

h1, p, h3 {
    margin: 0;
}