.logo {
  width: 200px;
  height: auto;
}

.Home {
  padding-top: $base-spacing * 2;
}

.home-wrapper {
  width: 100%;
  margin-bottom: $base-spacing;

  h1,
  p {
    margin: 0;
  }
}

.buttons {
  margin-top: $base-spacing;
}
