.logo {
    width: 200px;
    height: auto;
}

.Home {
    padding-top: 40px;
}

.home-wrapper {
    width: 100%;
    margin-bottom: 20px;

    h1, p {
        margin: 0;
    }
}

.buttons {
    margin-top: 20px;
}