.logo {
  width: 200px;
  height: auto;
}

.Home {
  display: inline-grid;
  width: 100%;

  @include media-query(min, $lap-start) {
    padding-top: $base-spacing * 5;
  }
}

.home-wrapper {
  width: 100%;
  margin-bottom: $base-spacing;

  h1,
  p {
    margin: 0;
  }
}

// Selecting eatery state
.selecting-eatery .home-wrapper,
.selecting-eatery .search {
  display: none;
}

.buttons {
  margin-top: $base-spacing;
}
