// General button style
.button {
  background-color: $color-primary-light;
  padding: $base-spacing;
  border-color: transparent;
  border-radius: $half-spacing/2;
  margin: $half-spacing/2;
  color: $color-white;
  @include font-size(20px);
  text-transform: capitalize;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    background-color: $color-highlight;

    &.addEatery {
      background-color: darken($color-highlight, 20%);
    }
  }

  &:active {
    position: relative;
    left: 3px;
    top: 3px;
  }
}

.addEatery {
  background: $color-highlight;
}

.travel-to {
  // display: none;
}

.hero-logo {
  padding: $base-spacing*2;
}

.hero-logo__img {
  max-width: 150px;
}

.lowerOptions {
  position: relative;
  height: 75px;
  transform: translateY(-0%);

  @include media-query(max, $lap-start) {
    background: $color-primary;
    padding: $base-spacing 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    transform: unset;
  }

  &.active {
    position: relative;
    padding-bottom: 20vh;
  }
}

#hero-title {
  @include font-size(35px);

  @include media-query(min, $lap-start) {
    @include font-size(50px);
  }
}

.siteOverlay {
  display: none;

  &.active {
    display: none;

    @include media-query(min, $lap-start) {
      z-index: 0;
      display: block;
      background: #000000da;
      width: 100%;
      height: 200vh;
      left: 0;
      top: -100vh;
      position: absolute;
    }
  }
}