.straplineWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: $half-spacing $base-spacing;
    line-height: $base-spacing*2;
}

.heroTitle {
    @include font-size(55px);
    font-family: $serif;

    @include media-query(min, $lap-start) {
      @include font-size(70px);
    }
}

.strapline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: $sans;
    font-size: 18px;
    font-style: italic;
}