.Eatery {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: $base-spacing;
    background: $color-primary;
    color: $color-white;
    border: 1px solid $color-secondary-dark;
    border-radius: $half-spacing/2;
    overflow: hidden;

    h3 {
        background-color: $color-secondary;
        padding: $half-spacing $base-spacing;
        border-bottom: 1px solid $color-secondary-dark;
    }

    p {
        background-color: $color-secondary-dark;
    }

    p:first-of-type {
        padding: $base-spacing $base-spacing 0 $base-spacing;
    }

    p:nth-of-type(2) {
        padding: 0 $base-spacing $half-spacing $base-spacing;
    }
}

.name {
    @include font-size(30px);
}