.Eatery {
    margin: $base-spacing;
    background: $color-primary;
    color: $color-white;
    padding: $base-spacing;
    border: 1px solid transparent;
    border-radius: $half-spacing;
}

.name {
    @include font-size(30px);
}