.search button,
.search input {
    color: white;
}

.search {
    margin: 0 $half-spacing $base-spacing $half-spacing;

    button {
        position: relative;
        height: 66px;
        padding: $base-spacing;
        border: 2px solid $color-primary-light;
        background: $theme-light-secondary;

        &:hover {
            background: darken($theme-light-secondary, 5%);
            color: $color-base;
        }
    }

    input {
        height: $base-spacing*3;
        border-top-left-radius: $half-spacing;
        border-bottom-left-radius: $half-spacing;
        border: 2px solid $color-primary-light;
        background: $color-primary;
        padding-left: $base-spacing;
        max-width: 400px;
        width: 100%;
    }
}

.search-item {
    display: block;
    margin: auto;
    border: 1px solid rgb(126, 126, 126);
    border-radius: $half-spacing/2;
    background: $color-primary-dark;
    padding: $base-spacing;

    span {
        padding-right: $half-spacing;
    }
}

// list
.ais-Hits-list {
    margin: $base-spacing 0 $base-spacing*10 0;

    @include media-query(min, $lap-start) {
        margin: $base-spacing 0 $base-spacing 0;
    }
}

// item
.ais-Hits-item {
    list-style-type: none;
    margin: 0;
    width: 100%;

    @include media-query(min, $lap-start) {
        margin: auto;
        max-width: 80%;
    }
}

.noQuery {
    display: none;
}

.ais-SearchBox-form {
    display: flex;
    max-width: 400px;
    margin: auto;
}

.ais-SearchBox-submit {
    padding: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ais-SearchBox-submitIcon {
    width: 15px;
    height: 15px;
}