.Account {
  width: 100%;

  .Account__title,
  p {
    margin: 0;
    text-align: start;
    color: $color-base;
  }
  h1 {
    color: $color-base;
  }
}

.Account__content {
  max-width: 1400px;
}

.avatar {
  padding: $half-spacing $base-spacing 0 $base-spacing;
}

.avatar img {
  fill: $color-white;
  max-width: 100px;
}

// Sidebar of account dashboard
.sidebar {
  text-align: start;
  top: 150px;
  position: fixed;
  height: 100%;
  background: #181c2b;
  z-index: 3;
  width: 200px;
  transition: ease-in-out all 0.1s;

  @media screen and (min-width: $lap-start) {
    top: 70px;
    width: 300px;
  }

  &.active {
    width: $base-spacing * 3;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

.sidebar.active {
  @media screen and (max-width: $lap-start) {
    top: 145px;
  }

  .avatar img {
    width: $base-spacing * 1.5 !important;

    @media screen and (min-width: $lap-start) {
      width: 100px;
    }
  }

  .side-menu__link p {
    display: none;
  }

  .side-menu__item {
    width: $base-spacing;
    justify-content: center;
  }
}

.sidebar.minimized {
  width: 75px;
}

.side-menu__item {
  display: flex;
  align-items: center;
  width: 160px;
  border-bottom: 1px solid #596180;
  padding: $base-spacing;
  transition: ease-in-out;
  transition-duration: 0.25s;
  @include font-size(24px);
  font-weight: bold;
  transition: ease-in-out all 0.1s;

  @media screen and (min-width: $lap-start) {
    width: 260px;
  }

  &:hover {
    right: 5px;
    cursor: pointer;
    background: lighten(#181c2b, 20%);
  }
}

.side-menu__link {
  text-decoration: none;
  padding-left: $half-spacing;
  @include font-size(22px);

  @media screen and (min-width: $lap-start) {
    display: flex;
  }

  p {
    color: $color-white;
    margin-left: $half-spacing;
  }
}

.side-menu__icon {
  img {
    display: block;
    height: 100%;
  }
}

// Content
.Content__wrapper {
  background: $color-white;
  border: 1px solid $color-white;
  border-radius: $half-spacing;
  box-shadow: #181c2b 4px 4px 4px;
  margin-top: $base-spacing;
  margin-left: 340px;
  margin-right: $base-spacing;
  padding: $base-spacing;
  transition: ease-in-out all 0.1s;

  &.active {
    margin-left: $base-spacing * 4;
  }
}
