.About {
    padding: 0 $base-spacing;
}

.About__content {
    max-width: 800px;
    margin: auto;
}

.sidebar {
    float: right;
    text-align: end;
}

.sidebar__item {
    list-style-type: none;
}