// colours
$color-primary: #2e2f41;
$color-primary-dark: #2a2b67;
$color-primary-light: #4a4a50;
$color-secondary: #404a5f;
$color-secondary-dark: #23243a;
$color-highlight: #2d83ad;

$color-white: #fff;
$color-base: #000;

$color-dark-grey: #1d1d1d;
$color-darker-grey: #28a71c;

$color-failure: #d10d0d;
$color-success: #22b82a;

// spacing
$base-spacing: 20px;
$half-spacing: $base-spacing/2;

// breakpoints
$palm-start: 420px;
$lap-start: 768px;
$desk-start: 990px;
$wide-start: 1200px;

// fonts
$large-font-size: 18px;
$base-font-size: 16px;
$medium-font-size: 14px;
$small-font-size: 12px;
$micro-font-size: 10px;
$base-font-weight: normal;
$base-line-height: 24px;
